# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# macOS
.DS_Store
*.HEIC

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.log

# Images
web_app/images/*.jpg
web_app/images/*.txt

